.home{
    background-color: #1E1E1E;
    width: 100%;
}
.home__container{
    width: 846px;
    padding-right: 107px;
    padding-left: 107px;
    margin-right: auto;
    margin-left: auto;
}
.home__header{
    display: flex;
    align-items: center;
    padding-top: 77px;
    color: #639EFF;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 15px;
}
.home__header button:not(:first-child):not(:last-child)   {
    margin-left: 12px;
}
.home__header button:last-child   {
    margin-left: 19px;
}
.home__main{
    display: inline-block;
    margin-top: 31px;
    margin-bottom: 31px;
    width: 100%;
    color: #EAEAEA;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    resize: none;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: normal;
    border-style: none;
    padding: 2px;
    height: 100%;
}
.home__main:focus{
    outline: none;
}
.home__main_heading{
    display: block;
    font-size: 31px;
    margin-top: 33px;
    margin-bottom: 33px;
    color: #FFFFFF;
}
.home__main_heading:first-letter{
    text-transform: uppercase
}
.home__main_paragraph{
    display: block;
    margin-top: 33px;
}